@font-face {
  font-family: "NyghtSerif-Regular";
  src: url("./fonts/NyghtSerif-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
}

.mainWrapper {
  width: 100%;
  height: 100svh;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  align-items: center;
  gap: 20px;

  padding: 20px;

  background: url("./images/bg.jpg") no-repeat center;
  background-size: cover;

  img {
    width: 100%;
    max-height: 240px;
    object-fit: contain;

    aspect-ratio: 1/1;
  }
}

.preloaderWrapper {
  position: fixed;

  width: 100%;
  height: 100svh;

  display: grid;
  grid-template-columns: repeat(5, 1fr);

  animation: desactivePreloader 0s linear forwards;
  animation-delay: 5.2s;

  .preloaderCol {
    transform-style: preserve-3d;
    animation: colFlip 1s linear forwards;
  }
  & :nth-child(1) {
    background-color: #d2a070;
    animation-delay: 4.2s;
  }
  & :nth-child(2) {
    background-color: #d4995e;
    animation-delay: 4s;
  }
  & :nth-child(3) {
    background-color: #d88e45;
    animation-delay: 3.8s;
  }
  & :nth-child(4) {
    background-color: #d77a1e;
    animation-delay: 4s;
  }
  & :nth-child(5) {
    background-color: #c7690c;
    animation-delay: 4.2s;
  }
}

.preloaderCounter {
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  animation: opacity 0.4s linear forwards;
  animation-timing-function: ease-in-out;
  animation-delay: 3.4s;

  &::after {
    content: "";
    font-family: "NyghtSerif-Regular", serif;
    font-size: clamp(4rem, 20vw, 10rem);
    color: #ffffff;

    animation: percentage 3s linear forwards;
  }
}

@keyframes colFlip {
  0% {
    transform: perspective(1000px) rotateY(0deg);
  }
  100% {
    transform: perspective(1000px) rotateY(90deg);
  }
}

@keyframes percentage {
  0% {
    content: "0%";
  }
  1% {
    content: "1%";
  }
  2% {
    content: "2%";
  }
  3% {
    content: "3%";
  }
  4% {
    content: "4%";
  }
  5% {
    content: "5%";
  }
  10% {
    content: "10%";
  }
  20% {
    content: "20%";
  }
  30% {
    content: "30%";
  }
  50% {
    content: "50%";
  }
  70% {
    content: "70%";
  }
  90% {
    content: "90%";
  }
  95% {
    content: "95%";
  }
  96% {
    content: "96%";
  }
  97% {
    content: "97%";
  }
  98% {
    content: "98%";
  }
  99% {
    content: "99%";
  }
  100% {
    content: "100%";
  }
}

@keyframes opacity {
  to {
    opacity: 0;
  }
}

@keyframes desactivePreloader {
  to {
    visibility: hidden;
  }
}
